// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$naval: #40739e;
$seabrook: #487eb0;
$vanadyl-blue: #0097e6;
